.setLoans_title,
.setLoans_items {
  display: flex;
}

.setLoans_title {
  font-family: "Gilroy-SemiBold";
}

.setLoans {
  margin-top: clamp(38px, calc(10vw + (1000px - 100%) * -0.02), 100px);

  &_title {
    margin: 0;
    justify-content: center;
    font-size: clamp(25px, 3.6vw, 36px);
    color: #13245d;
  }

  &_items {
    margin-top: clamp(20px, calc(5vw + (1000px - 100%) * -0.02), 50px);
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(15px, calc(2vw + (1000px - 100%) * -0.02), 20px);
  }
}
