.articles {
  margin-top: clamp(60px, calc(10vw + (1000px - 100%) * -0.02), 100px);
  display: flex;
  flex-direction: column;

  &_title {
    margin: 0;
    font-size: clamp(25px, 5vw, 50px);
    color: var(--main-title-color);
    text-align: center;
  }

  &_items {
    margin-top: clamp(25px, calc(5vw + (1000px - 100%) * -0.02), 50px);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(0, min(370px, 100%)));
    gap: 15px;
  }

  @media (max-width: 1200px) {
    margin-top: 60px;
  }
}
