.application {
  margin-top: clamp(30px, calc(4.6vw + (1000px - 100%) * -0.02), 46px);
  display: flex;
  flex-direction: column;

  &__title {
    font-size: clamp(30px, 5vw, 50px);
    color: var(--main-title-color);
  }

  margin-top: clamp(30px, calc(4.6vw + (1000px - 100%) * -0.02), 46px);
  padding: 45px 60px 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: #f8faff;
  border-radius: 40px;

  &__contact {
    font-size: clamp(25px, 3vw, 30px);
    color: var(--main-title-color);
  }

  &__amount {
    margin-top: clamp(40px, calc(5vw + (1000px - 100%) * -0.02), 50px);
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
      font-size: clamp(25px, 3vw, 30px);
      color: var(--main-title-color);
    }

    &__sliders {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 70px;
      width: 100%;
    }

    &__sliderSum,
    &__sliderDays {
      width: 100%;

      & div {
        display: flex;
        justify-content: space-between;
      }

      & div p {
        font-size: 18px;
        color: #00000066;
      }

      & > p {
        margin-top: 18px;

        font-family: var(--font-medium-weight);
        font-size: 25px;
        color: var(--main-title-color);
      }
    }
  }

  &__generalInfo {
    margin-top: clamp(40px, calc(5vw + (1000px - 100%) * -0.02), 50px);

    &__title {
      font-size: clamp(25px, 3vw, 30px);
      color: var(--main-title-color);
    }

    &__form {
      margin-top: 25px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 60px;

      & input {
        width: min(326px, 100%);
        padding: 25px;
      }

      &__inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
      }
    }
  }
}
