.hamburger {
  &__btn {
    border: none;
    background: unset;
    cursor: pointer;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__nav {
    position: absolute;
    background-color: white;
    width: 100%;

    &_open {
      display: block;
    }

    &_close {
      display: none;
    }

    & ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 0;
    }

    & li,
    & a {
      text-decoration: unset;
      list-style: none;
      color: black;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}
