@import "/assets/fonts/font.scss";

.root {
  margin: 0 auto;
  width: min(1180px, 100%);

  font-family: "Gilroy";
  font-weight: 400;
  background-image: url("../../assets/background.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-repeat: no-repeat;

  --main-title-color: #13245d;
  --main-blue-color: #6588ff;
}

.non-sticking {
  margin: 0 20px;
}

.custom-input {
  border-radius: 15px;
  border: 1px solid #00000080;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  & + label::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1.15px solid #e84b37;
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &:checked + label::before {
    background-image: url('data:image/svg+xml,<svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.8 1.7998L5.96875 12.1998L1.5 7.47253" stroke="%23E84B37" stroke-width="2.6" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-size: 80%;
  }
}

.form-error-message {
  font-size: 10px;
  font-weight: 700;
  color: red;
}
