@import '../../app/globals.scss';

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 31.24px;
}

.header__menu span {
  margin-right: 24px;
}

.header__logIn {
  padding: 9px 17px;
}