@import '../../app/globals.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 150px 0px 150px;
}

.header__menu span {
  margin-right: 24px;
}

.header__logIn {
  padding: 9px 17px;
}