/**********
 * IMPORT *
 **********/
@import "../../app/globals.scss";

.cardCredit {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #b0b5c566;
  padding: 20px;
  width: 367px;
}

.cardCredit:hover {
  box-shadow: 3px 4px 3px 0px #71717166;
}

.cardCredit__title,
.cardCredit__info,
.cardCredit__get {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardCredit__title span,
.cardCredit__info li > span {
  font-family: "Gilroy-SemiBold";
}

.cardCredit__get button {
  padding: 10px 15px;
}
