.cardCredits__title,
.cardCredits__items {
  display: flex;
}

.cardCredits__title {
  font-family: "Gilroy-SemiBold";
}

.cardCredits {
  margin-top: 100px;

  &__title {
    margin: 0;
    justify-content: center;
    font-size: 36px;
    color: #13245d;
  }

  &__items {
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  @media (max-width: 1200px) {
    margin-top: 40px;
  }
}
