.cardCredit,
.cardCredits > span,
.cardCredits__box {
  display: flex;
}

.boxSlider__title,
.boxSlider__button,
.cardCredits > span {
  font-family: "Gilroy-SemiBold";
}

.cardCredits {
  margin-top: 115px;
  & > span {
    justify-content: center;
    font-size: 36px;
    color: #13245d;
  }
  &__box {
    margin-top: 50px;
    justify-content: center;
    gap: 20px;
  }
}
