.footer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 155px 0 135px 0;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

    & ul {
      display: flex;
      list-style-type: none;
      gap: 24px;
      padding: 0;
      margin: 0;

      @media (max-width: 768px) {
        display: none;
      }
    }

    & li {
      display: inline-block;

      & a {
        font-size: 16px;
        text-decoration: none;
        color: #212832;
      }
    }
  }

  &__description {
    font-size: 10px;
  }

  &__description p {
    margin: 0;
  }
}
