.header {
  position: relative;
  margin-top: 30px;
  margin-bottom: clamp(30px, calc(6.5vw + (1000px - 100%) * -0.02), 60px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    width: clamp(134px, calc(16.9vw + (1000px - 100%) * 0.1), 169px);
    height: auto;
  }

  &__navDesktop {
    & ul {
      display: flex;
      list-style-type: none;
      gap: 24px;
      padding: 0;
      margin: 0;
    }

    & li {
      display: inline-block;

      & a {
        font-size: 16px;
        text-decoration: none;
        color: #212832;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__logIn {
    font-size: clamp(14px, 1.7vw, 17px);
    padding: 9px 17px;
  }

  &__navMobile {
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 3px 9px 13px 0px rgba(0, 0, 0, 0.1294117647);

    & ul {
      margin: 10px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
      gap: 24px;
      padding: 0;
    }

    & li {
      display: inline-block;

      & a {
        font-size: 16px;
        text-decoration: none;
        color: #212832;
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}
